:root {
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --main-text-color: #757575;
    --secondary-bg-color: #2F303A;
    --btn-text-color: #212121;
    --btn-bg-color: #F5F4FA;
    --main-icon-color: #AFB1B8;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --bg-gradient: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
)
}
