.clients-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    gap: 30px;

}

.clients-item {

    @media screen and (min-width: 480px) {
        width: calc((100% - 30px) / 2)
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 90px) / 3)
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 150px) / 6)
    }

}


.client-icon {
    fill: var(--main-icon-color);
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    .clients-link:hover &,
    .clients-link:focus & {
        fill: var(--accent-color);
    }
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;


    // width: 210px;
    // width: 170px;
    height: 92px;



    border: 1px solid var(--main-icon-color);
    border-radius: 4px;



    transition-property: border-color var(--transition-duration) var(--transition-timing-function),
        fill var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
        border-color: var(--accent-color)
    }
}