.footer {
        padding-bottom: 60px;
        padding-top: 60px;

        background: var(--secondary-bg-color);


        @media screen and (max-width: 1199px) {
                // justify-content: center;
                text-align: center;
        }

}

.footer-container {

        display: block;

        @media screen and (min-width: 1200px) {

                display: flex;
                align-items: baseline;
        }
}

.footer-connection {

        width: 100%;


        @media screen and (min-width: 768px) {
                display: flex;
        }

        @media screen and (max-width: 767px) {
                width: 100%;
                margin-bottom: 60px;
                justify-content: space-around;

                flex-wrap: wrap;
        }

        @media screen and (max-width: 1199px) {
                width: 100%;
                justify-content: space-around;

                flex-wrap: wrap;
                // justify-content: center;
                // align-items: center;
                // text-align: center;
        }

}


.footer-logo {
        display: flex;
        padding: 0;
        margin-bottom: 20px;
        margin-right: 0;


        @media screen and (max-width: 1199px) {
                justify-content: center;
                align-items: center;
                text-align: center;
        }
}


.footer-item {
        margin-bottom: 9px;

        &:last-child {
                margin-bottom: 0;
        }

        &:first-child {
                margin-top: 20px;
        }
}




.footer-studio {
        color: #FFFFFF;
}

.address {
        margin-bottom: 60px;
        font-style: normal;
        align-items: center;
        justify-content: center;

}

.footer-address {
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        transition-property: color, background-color;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-timing-function);
}



.footer-mail,
.footer-tel {
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        transition-property: color, background-color;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-timing-function);
}