.mob-menu-open-btn {
    margin-left: auto;
    background-color: transparent;
    border: none;
    display: block;

    @media screen and(min-width: 768px) {
        display: none;
    }
}

.menu-icon {
    fill: #212121;
}

.menu-close-btn {
    margin-left: auto;
    background-color: transparent;
    border: none;
    display: block;
}

.mob-menu {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-top: 21px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 10px;

    >.mob-menu-container {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }

    @media screen and(min-width: 768px) {
        display: none;
    }

}



.mob-menu__top .mob-menu__list {
    margin-bottom: 50px;
}

.mob-menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}


.mob-auth__list {
    margin-bottom: 30px;
}

.mob-auth__item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-auth__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
}

.mob-auth__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;

    color: #2196F3;
}

.menu-social {
    display: flex;
    gap: 20px;
}

.menu-social-item {
    position: relative;
}

.menu-social-item:not(:last-child):after {
    content: '';
    width: 22px;
    height: 0;
    position: absolute;
    bottom: 10px;

    color: #212121;

    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
}



.menu-social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--accent-color)
}