.subscribe {

    @media screen and (min-width: 768px) {
        margin: auto;
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 570px;
        margin-left: auto;
        margin-top: 0;
    }
}

.subscribe-title {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.subscribe-input {
    padding: 15px 16px;
    font-size: 16px;
    line-height: 1.25;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;

    width: 100%;
    margin-bottom: 20px;



    @media screen and(min-width: 1200px) {
        width: 358px;
        height: 50px;
        left: 815px;
        top: 2784px;
    }


    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}



.subscribe-btn {
    position: relative;
    padding: 10px 28px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;

    width: 200px;
    height: 50px;

    @media screen and (max-width: 1199px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: 12px;

    }


    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}




.subscribe-input-icon {
    margin-left: 10px;
    margin-right: 28px;
    display: block;
    position: absolute;

    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.subscribe-submit {

    @media screen and(min-width: 1200px) {
        display: flex;
    }
}